body{
background:#CCFFFF;
opacity: 0.8px;
}
h1{
color:#CC00FF;
font-size:15px;
}
h2{
color:#FFCC99;
margin-left:50px;
padding:30px;
font-weight:bold;
}
h3{
color:#CC00FF;
font-size:15px;
}
h4{
color:#CC00FF;
font-size:15px;
}
header{
height:60px;
background:#3300CC;
padding: 20px;
width:100%;
}
header img{
width:80px;
height:80px;
}

.login{
float:right;
color:#99CC99;
padding: 0px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
}
nav a:hover{
color:#FFFF33;
}
.physical{
width:80%;
border: 1px solid 2px;
height: 735px;
margin-left: 120px;
border-color:#00FFFF;
border-width: 4px;
}
nav a{
color:#FFFFFF;
text-align:center;
margin-right: 200px;
padding: 4px;
font-family:Arial, Helvetica, sans-serif;
text-decoration:none;
margin-bottom: 50px;
font-size:20px
}

footer{
color:#FFFFFF;
text-align:center;
margin-top:0px;
background:#3300CC;
height:90px;
}

